/* Regular font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Medium font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Light font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Thin font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Thin Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Black font weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Black Italic font style */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

 body {
      font-family: 'Roboto', sans-serif;
    }

    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
    }

    div {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
    }